.error {
  background-color: rgba(255, 0, 0, 0.3);
  color: red;
  padding: 1rem;
}
.tablesorter {
  cursor: pointer;
  width: 100%;
}
.button {
  background: rgba(255,255,255,0.25);
	color: #777777;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	font-family: 'verlag', Arial;
	resize: none;
	vertical-align: bottom;
	font-size: 0.8rem;
	max-width: 550px;
}
button {
  margin-left: 0.5rem;
}
table {
  max-width: none;
}
nav li:before {
  content: '';
}

.companycontrols {
  border-bottom: 1px solid silver;
  padding: 0 0.5rem 1rem 0.5rem;
  margin: 0;
}
.companycontrols h3 {
  font-size: 1rem;
}
.companycontrols button {
  margin-left: 0;
}
strong {
  font-weight: bold;
}
